body
{
    background: white;
    margin: 0;
    padding: 5px 0 150px 0;
}
div#xml
{
    width: 97%;
}
#map
{
    background-color: white;
    height: 90%;
    left: 10px;
    overflow: auto;
    position: fixed;
    top: 85px;
    width: 397px;
}
body, 
div#xml input[type=text],
div#xml textarea
{
    background: silver;
    font: 12px consolas,courier new,monospace;
}
h2
{
    color: #666;
    font: 15px helvetica neue,microsoft sans serif,arial;
}
hr
{
    background-color: #999;
    border: 0;
    height: 1px;
}
button
{
    background-color: #936C28;
    border: 1px outset #333;
    color: #fff;
    cursor: pointer;
    font: bold 10px tahoma,helvetica neue,arial;
    moz-border-radius: 3px;
    webkit-border-radius: 3px;
}
button.cancel
{
    background-color: #999;
    border: 1px outset #666;
    color: #fff;
    margin-left: 2px;
}
button.none
{
    display: none;
}
button.icon
{
    background: transparent no-repeat;
    border: none;
    height: 14px;
    margin: 0;
    padding: 0;
    width: 14px;
}
button.goUp
{
    height: 16px;
    margin-left: 2px;
    margin-right: 2px;
    width: 16px;
}
button.goDown
{
    height: 16px;
    margin-left: 2px;
    margin-right: 2px;
    width: 16px;
}
button.remove
{
    height: 16px;
    margin-left: 2px;
    margin-right: 2px;
    width: 16px;
}
button.add
{
    height: 16px;
    margin-left: 2px;
    margin-right: 2px;
    width: 16px;
}
.msg
{
    font-style: italic;
    font-weight: normal;
}
form input[type=submit]
{
    background-color: #936C28;
    border: 1px outset #333;
    color: #fff;
    cursor: pointer;
    font: bold 10px tahoma,helvetica neue,arial;
    moz-border-radius: 3px;
    webkit-border-radius: 3px;
}
div#header
{
    background: #444;
    height: 90px;
    left: 0;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    top: 0;
    width: 97%;
    z-index: 10;
}
div#info a#home
{
    color: white !important;
    display: block;
    font: 11px consolas, courier new !important;
    width: 300px;
}
div#nodePath
{
    color: white;
    font: 14px consolas, courier new;
    font-weight: bold;
    position: fixed;
    right: 30px;
    top: 54px;
    z-index: 20;
}
div#nodePath a
{
    color: white !important;
    display: inline;
    font: 11px consolas, courier new !important;
    width: 300px;
}
div#info
{
    color: white;
    display: block;
    font-family: consolas,courier new;
    font-size: 22px;
    font-weight: bold;
    height: 20px;
    margin: 0;
    padding-left: 45%;
    position: fixed;
    top: 10px;
}
div#toolbar
{
    display: block;
    height: 40px;
    position: fixed;
    position: relative;
    top: 48px;
}
div#toolbar button:hover
{
    background-color: #AAA;
}
div#toolbar button
{
    background: #444;
    border: 0px outset #333 !important;
    border: 2px outset transparent !important;
    cursor: pointer;
    font: bold 10px tahoma,helvetica,arial;
    moz-border-radius: 2px;
    webkit-border-radius: 2px;
}
img
{
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
    ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
}
div#toolbar select
{
    border: 1px outset #333;
    font: normal 14px tahoma,helvetica,arial;
    height: 25px;
    moz-border-radius: 2px;
    position: relative;
    top: -10px;
    webkit-border-radius: 2px;
}
div#xml
{
    background-color: #fff;
    margin: 20px 10px 0px 10px;
    moz-border-radius-topleft: 5px;
    moz-border-radius-topright: 5px;
    padding: 14px 10px 10px 10px;
    position: relative;
    top: 55px;
    webkit-border-top-left-radius: 5px;
    webkit-border-top-right-radius: 5px;
}
div#actionButtons
{
    background-color: #424c53;
    background-image: -moz-linear-gradient(top, #5e676d, #424c53);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #5e676d),color-stop(1, #424c53));
    border-top: 2px solid #c66;
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#5e676d', EndColorStr='#424c53');
    left: 0;
    margin: 0 10px;
    margin-right: 10px;
    moz-border-radius-bottomleft: 5px;
    moz-border-radius-bottomright: 5px;
    ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#5e676d', EndColorStr='#424c53')";
    overflow: hidden;
    padding: 10px;
    position: fixed;
    webkit-border-bottom-left-radius: 5px;
    webkit-border-bottom-right-radius: 5px;
    width: 97%;
}
div#xml ul li
{
    margin-bottom: 0;
    padding-bottom: 0;
}
div#xml ul li a
{
    color: #9cc;
    font: normal 10px tahoma,helvetica,arial;
}
div#xml ul li input[type=text],
div#xml ul li textarea,
div#xml ul li select,
div#xml ul li ul.nodeCore input[type=text]
{
    background-color: #fcfcfc;
    color: #000;
}
div#xml ul li ul.nodeCore input.newChild
{
    color: #900;
}
div#xml ul li span.nodeName
{
    color: #A3822F;
    cursor: pointer;
    font-weight: bold;
    padding: 1px;
}
div#xml ul li.comment span.nodeName
{
    color: #999;
    font-style: italic;
}
div#xml ul li span.nodeAttrs
{
    color: #666;
    font-weight: normal;
    padding: 1px;
}
div#xml ul li span.invisible
{
    display: none;
}
div#xml ul li span.nodeAttrs span.singleAttr
{
    margin-left: 8px;
}
div#xml ul li span.nodeAttrs span.attrValue
{
    color: #000;
    font: italic 11px georgia,serif;
}
div#xml ul li span.nodeAttrs span.attrValue:hover
{
    color: #090;
    cursor: pointer;
}
div#xml ul li span.nodeAttrs button.killAttr
{
    background-position: -34px -194px;
}
div#xml ul li span.nodeAttrs form
{
    display: inline;
    margin: 0;
    padding: 0;
}
div#xml ul li span.nodeAttrs input
{
    border: 0;
    border-bottom: 1px dotted #066;
    font: italic 11px georgia,serif;
    margin: 0;
    padding: 0;
}
div#xml ul li span.nodeAttrs input.newAttrName
{
    margin-left: 8px;
    width: 80px;
}
div#xml ul li span.nodeAttrs input.newAttrValue
{
    margin-right: 8px;
    width: 120px;
}
div#xml ul li span.nodeAttrs button.addAttr
{
    background-position: 0 -194px;
    margin-left: 6px;
}
div#xml ul li span.nodeValue
{
    color: #666;
}
div#xml ul li span.nodeValue strong
{
    color: #333;
}
div#xml ul li ul.nodeCore li p.nodeValue
{
    color: #000;
    font: normal 11px georgia,serif;
    margin: 0;
    margin-left: 4px;

    padding: 0;
    width: 600px;
}
div#xml ul li ul.nodeCore li p.nodeValue:hover
{
    color: #090;
    cursor: pointer;
}
div#xml ul li ul.nodeCore li p.nodeValue span.noValue
{
    color: #999;
}
div#xml ul li ul.nodeCore li p.nodeValue:hover span.noValue
{
    color: #090;
    cursor: pointer;
}
div#xml ul li ul.nodeCore li p.nodeFixed
{
    color: gray;
    font: normal 11px georgia,serif;
    margin: 0;
    margin-left: 4px;
    overflow: auto;
    padding: 0;
    width: 600px;
}
div#xml ul li ul.nodeCore li a.addChild
{
    margin-left: 4px;
}
div#xml ul li ul.nodeCore li textarea
{
    border: none;
    border-bottom: 1px dotted #066;
    font: normal 11px georgia,serif;
    height: 26px;
    margin: 0 1px 2px 1px;
    padding: 0 2px 2px 2px;
    width: 600px;
}
div#xml ul li ul.nodeCore li select
{
    border: none;
    border-bottom: 1px dotted #066;
    font: normal 11px georgia,serif;
    height: 18px;
    margin: 0 1px 2px 1px;
    padding: 0 2px 2px 2px;
    width: 400px;
}
div#xml ul li ul.nodeCore li div.editTextAreaValueButtons
{
    height: 15px;
    width: 604px;
}
div#xml ul li ul.nodeCore li div.editTextValueButtons
{
    height: 15px;
    width: 404px;
}
div#xml ul li ul.nodeCore input[type=text]
{
    border: 0;
    border-bottom: 1px dotted #066;
    margin: 0 6px 0 4px;
    padding: 0;
}
div#xml ul li button.killNode,
div#xml ul li button.killChild
{
    background-position: -34px -194px;
    margin-left: 2px;
}
div#xml ul li .admin
{
    display: none;
}
select
{
    border: none;
    border-bottom: 1px dotted #066;
    font: italic 11px georgia,serif;
    height: 18px;
    margin: 0 1px 2px 1px;
    padding: 0 2px 2px 2px;
}
div#xml span.comment
{
    color: #999;
    font: italic 11px consolas,courier new,monospace;
}
.treeview
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.treeview ul
{
    list-style: none;
    margin: 4px 0 0 0;
    padding: 0;
}
.treeview li
{
    background: url(../img/treeview-default-line.gif) 0 0 no-repeat;
    margin: 0;
    padding: 3px 0pt 3px 16px;
}
.odd
{
    background-color: #eaeaea !important;
}
.even
{
    background-color: #d8d8d7 !important;
}
.selectedEven
{
    border: 2px dotted #990000 !important;
}
.selectedOdd
{
    border: 2px dotted #990000 !important;
}
.treeview div.hitarea
{
    background: url(../img/treeview-default.gif) -64px -25px no-repeat;
    cursor: pointer;
    float: left;
    height: 16px;
    margin-left: -16px;
    width: 16px;
}
.treeview li.collapsable,
.treeview li.expandable
{
    background-position: 0 -176px;
}
.treeview li.collapsable ul
{
    display: block;
}
.treeview li.expandable ul
{
    display: none;
}
.treeview li.collapsable div.hitarea
{
    background-position: -64px -25px;
}
.treeview li.expandable div.hitarea
{
    background-position: -80px -3px;
}
.treeview li.last
{
    background-position: 0 -1766px;
}
.treeview li.last.collapsable
{
    background: url(../img/treeview-default.gif) 0 -111px no-repeat;
}
.treeview li.last.expandable
{
    background: url(../img/treeview-default.gif) -32px -67px no-repeat;
}
.treeview li.last.collapsable div.hitarea.last
{
    background-position: 0;
}
.treeview li.last.expandable div.hitarea.last
{
    background-position: 0;
}
* html .hitarea
{
    display: inline;
    float: none;
}
.valid
{
    color: #0d0;
}
.invalid
{
    color: #d00;
    font-weight: bold;
}
label
{
    font: normal 11px georgia,serif;
    font-size: 8px;
}
input.list
{
    background-color: #eefffa;
    color: #000;
    font: 12px consolas,courier new,monospace;
}
button#voc, button.go
{
    margin-bottom: 10px;
    margin-left: 4px;
    vertical-align: middle;
}
div#labels input[type=text]
{
    background-color: #eefffa;
    border: 0;
    border-bottom: 1px dotted #066;
    color: #000;
    font: 12px consolas,courier,monospace;
    margin: 0 6px 0 4px;
    padding: 0;
}
div#labels label
{
    font-weight: bold;
}